<h1>Patients</h1>


<p *ngIf="!patients"><em>Loading...</em></p>
<br />
<div><button type="button" class="btn btn-success" (click)="onClickMe()">Create Patient</button></div>
<br />

<table class='table' *ngIf="patients">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.dateOfBirth | date }}</td>
      <td>{{ patient.phoneNumber }}</td>
      <td>{{ patient.email }}</td>
      <td><button type="button" class="btn btn-info" (click)="editPatient(patient.id)">Edit</button></td>
      <td><button type="button" class="btn btn-danger" (click)="onClickMe(patient.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
